<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ssmdemo.dao.UserDao" >

    <select id="addUser">
        insert into tb_user t where t.name=#{name} and t.sex=#{sex}
    </select>

    <select id="deleteUser">
        delete from tb_user t where t.id=#{id}
    </select>

    <select id="updateUser">
        update tb_user t where t.name=#{name} and t.sex=#{sex}
    </select>

    <select id="getUser"  resultType="User">
        SELECT * FROM tb_user t WHERE t.id=#{id}
    </select>

    <select id="getAllUsers" resultType="List">
        SELECT * FROM tb_user t
    </select>

</mapper>