<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.toolkit.dao.UserDao" >

    <select id="addUser" parameterType="Map">
        insert into tb_user (user_name, user_sex) values (#{userName},#{userSex})
    </select>

    <select id="deleteUser" parameterType="Long">
        delete from tb_user where id=#{id};
    </select>

    <select id="updateUser" parameterType="Map">
        update tb_user t set t.user_name=#{userName}, t.user_sex=#{userSex} where t.id=#{id};
    </select>

    <select id="getUser" parameterType="Long" resultType="User">
        SELECT * FROM tb_user t WHERE t.id=#{id}
    </select>

    <select id="getAllUsers" resultType="Map">
        SELECT * FROM tb_user t
    </select>

</mapper>